<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=" shortcut icon" href="{% static 'bh_favicon.ico' %}">
    <link rel="icon" href="{% static 'bh_favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'bh_favicon.ico' %}">


    <title>Bayley Harrod</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 

  
  </head>

  <body>

  <header>
    <section class="jumbotron text-center bg-image" style="background-image: url('{% static 'headshot_2023.jpg' %}'); background-position: center; background-size: cover; height: 1000px; "> 
      <div class="container">  
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand fs-1" href="{% url 'home' %}">Bayley Harrod</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto dark">
                <a class="nav-item nav-link  fs-4" href="https://bayleyharrod.notion.site/bayleyharrod/Bayley-Harrod-4ba2aa3b7fd94ad48c2d16ef59cf338b" target="_blank" >Portfolio</a>
                <a class="nav-item nav-link  fs-4" href="https://www.linkedin.com/in/bayley-harrod/">LinkedIn</a>
                <a class="nav-item nav-link  fs-4" href="https://open.spotify.com/show/5actaIjsSaSSjxTKwqLuYb?si=0d6849fa50674702">Podcast</a>
                <!-- youtube commented out<a class="nav-item nav-link fs-4" href="https://www.youtube.com/channel/UCECHK6DJF5Fyaf5bFbrn2GA?view_as=subscriber">Youtube</a> -->
                
                <!-- blogs need to be fixed<a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>-->
                <a href="mailto:bayleyhbusiness@hotmail.com?subject=BayleyHarrod.com Contact" class=" btn btn-outline-light bg-transparent fs-4">Contact</a>
              </div>
            </div>
        </nav>
      </div>      
    </section>
  </header>


<!-- Header content -->
    <main role="main">
      <br />
      <br />
      <br />
      <section class="container text-center col-8">
        <div class="container">
          <h1 class="fs-1">Product Management & Agile Coaching</h1>
          <p class="lead text-muted text-start">I have built dozens of digital products from idea conception to launch and scale -  delivering experiences that delight customers and drive business outcomes. From building the ‘Uber’ of home repairs to scaling Moneybox’s instant payment mechanisms to millions of customers.
            
            <br />
            <br />
            My edge for creating value is focusing on creating high-performance development teams - empowering people by connecting their work with meaningful customer outcomes that drive business value. 
          </p>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2 class="fs-3">Product Management</h2>
              <p class="lead text-muted text-start"> To build the right Product I take a holistic view of the customer's needs and the long-term vision of the company. Understanding these foundations is key to crafting an actionable Product strategy.
                <br />
                <br />
                My extensive experience conducting <a href="https://www.svpg.com/dual-track-agile/">dual track</a> product discovery (customer interviews, prototyping & service design) and delivery (user stories, road mapping, feature releases, go-to-market strategy & user analytics) has been critical to successfully executing these strategies.
              </p>
            <br />
            </div>
            <div class="col-sm-12 col-md-6">
              <h2 class="fs-3">Agile Consulting</h2>
              <p class="lead text-muted text-start">Agility is about facing harsh truths head-on, adapting to change and collaborating closely with your end customer to create something of value. 
                <br />
                <br />
                My people-first approach focuses on aligning teams around a common goal and bringing clarity to the blockers ahead of them. I follow the <a href="https://www.personal-coaching-information.com/clear-coaching-model.html">CLEAR</a> coaching method with Product teams and external stakeholders to create actionable systems that improve team performance.
              </p>
            </div>
            
            <!-- Previous work button -->
            <div class='d-grid col-4 mx-auto'>
              <a href="https://bayleyharrod.notion.site/bayleyharrod/Bayley-Harrod-4ba2aa3b7fd94ad48c2d16ef59cf338b" target="_blank" class=" btn btn-dark fs-4">Previous Work</a>
            </div>
              
        </div>
      </section>
      <br />
      <br />
      <br />
      
      <!-- Prduct 30 section-->
      
      <div class="album py-5 bg-secondary">
        <div class="container text-center col-8">
          <div class="container">
            <h1 class="text-white text-center fs-1">Product30</h1>
            <br />
            <!-- Spotify Embed-->
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6gy9et9fGym0XbgXiDy4pB?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <br />
            <p class="lead text-light text-center">Understanding what it takes to build exceptional products in 30 minutes. </p>
          </div>
        </div>
      </div>
          

      
      
      <!-- About me-->
      <br />
      <br />
      <br />
      <section class="jumbotron text-start">
        <div class="container text-center col-8">
          <div class="row">
            <div class="col 6">
              <h1 class="jumbotron-heading">About Me</h1>
              <p class="lead text-muted text-start"> Currently, a Product Manager at Moneybox. Taking my passion for personal finance and interest fintech to create seamless experiences for Moneybox's 1m+ customers. Focusing on the open banking and payments ecosystem to create better products for our customers.</p>
            </div>

            <div class="col 6">
              <img src="{% static 'wapping.jpg' %}" alt="Bayley Harrod photo" class="img-fluid rounded float-start">
            </div>
          </div>
         
      </section>
      <br />
      <br />
      <br />

          <!-- removed until blogs fixed 
            {% for job in jobs.all %} 
           <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div> 
            {% endfor %}
            -->

        

    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p>© Bayley Harrod {% now "Y"%}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>  

 
</body>
</html>
