<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=" shortcut icon" href="{% static 'bh_favicon.ico' %}">
    <link rel="icon" href="{% static 'bh_favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'bh_favicon.ico' %}">


    <title>Bayley Harrod</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
    <script type="text/javascript">
      (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
      for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
      MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
      
      // Enabling the debug mode flag is useful during implementation,
      // but it's recommended you remove it for production

      var productionHost = 'bayleyharrod.com'; 
      var devToken = '22e93cbdbde71343b7c4c94bca57e065'; 
      var prodToken = 'fd7911bc064e5ba2907b8cb81468b4c3'; 

      if (window.location.hostname.toLowerCase().search(productionHost) < 0) { mixpanel.init(devToken, {debug: true});
      } else { mixpanel.init(prodToken, {debug: false}); } 
      
    </script>

    <!-- Mixpanel Events -->
<script>
  //Home viewed
  mixpanel.track("home_viewed")
</script>

  
  </head>

  <body>

  <header>
    <!-- <section class="jumbotron text-center bg-image" style="background-image: url('{% static 'headshot_2023.jpg' %}'); background-position: center; background-size: cover; height: 1000px; "> -->
    <section class="jumbotron text-center " style="background-image: url('{% static 'headshot_2_2023.jpg' %}'); background-position: center top; background-size: cover; height: 1000px; ">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
            <a class="navbar-brand fs-1" href="{% url 'home' %}">Bayley Harrod</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto dark">
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href=#work_with_me></a>
                <a class="nav-item nav-link text-white fs-4" href="https://bayleyharrod.notion.site/bayleyharrod/Bayley-Harrod-4ba2aa3b7fd94ad48c2d16ef59cf338b" target="_blank" >Portfolio</a>
                <a class="nav-item nav-link text-white fs-4" href="https://www.linkedin.com/in/bayley-harrod/">LinkedIn</a>
                <a class="nav-item nav-link text-white fs-4" href="https://open.spotify.com/show/5actaIjsSaSSjxTKwqLuYb?si=0d6849fa50674702">Podcast</a>
                
                <!-- youtube commented out<a class="nav-item nav-link fs-4" href="https://www.youtube.com/channel/UCECHK6DJF5Fyaf5bFbrn2GA?view_as=subscriber">Youtube</a> -->
                
                <!-- blogs need to be fixed<a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>-->
                <a href="mailto:bayleyhbusiness@hotmail.com?subject=BayleyHarrod.com Contact" class=" btn btn-outline-light bg-transparent fs-4">Contact</a>
              </div>
            </div>
          </div>
        </nav>
            
    </section>
  </header>


<!-- Header content -->
    <main role="main">
      <br />
      <br />
      <br />
      <section class="container text-center col-lg-8">
        <div class="container">
          <h1 class="fs-1">Product Management & Agile Coaching</h1>
          <p class="lead text-muted text-start">I have built dozens of digital products from idea conception to launch and scale -  delivering experiences that delight customers and drive business outcomes. From building the ‘Uber’ of home repairs to scaling Moneybox’s instant payment mechanisms to millions of customers.
            
            <br />
            <br />
            My edge for creating value is focusing on creating high-performance development teams - empowering people by connecting their work with meaningful customer outcomes that drive business value. 
          </p>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2 class="fs-3">Product Management</h2>
              <p class="lead text-muted text-start"> To build the right Product I take a holistic view of the customer's needs and the long-term vision of the company. Understanding these foundations is key to crafting an actionable Product strategy.
                <br />
                <br />
                My extensive experience conducting <a href="https://www.svpg.com/dual-track-agile/">dual track</a> product discovery (customer interviews, prototyping & service design) and delivery (user stories, road mapping, feature releases, go-to-market strategy & user analytics) has been critical to successfully executing these strategies.
              </p>
            <br />
            </div>
            <div class="col-sm-12 col-md-6">
              <h2 class="fs-3">Agile Consulting</h2>
              <p class="lead text-muted text-start">Agility is about facing harsh truths head-on, adapting to change and collaborating closely with your end customer to create something of value. 
                <br />
                <br />
                My people-first approach focuses on aligning teams around a common goal and bringing clarity to the blockers ahead of them. I follow the <a href="https://www.personal-coaching-information.com/clear-coaching-model.html">CLEAR</a> coaching method with Product teams and external stakeholders to create actionable systems that improve team performance.
              </p>
            </div>
            
            <!-- Previous work button -->
            <div class='d-grid col-lg-4 mx-auto'>
              <a href="https://bayleyharrod.notion.site/bayleyharrod/Bayley-Harrod-4ba2aa3b7fd94ad48c2d16ef59cf338b" target="_blank" class=" btn btn-dark fs-4">Previous Work</a>
            </div>
              
        </div>
      </section>
      <br />
      <br />
      <br />
      
      <!-- Prduct 30 section-->
      
      <div class="album py-5 bg-secondary">
        <div class="container text-center col-lg-8">
          <div class="container">
            <h1 class="text-white text-center fs-1">Product30</h1>
            <br />
            <!-- Spotify Embed-->
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6gy9et9fGym0XbgXiDy4pB?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <br />
            <p class="lead text-light text-center">Understanding what it takes to build exceptional products in 30 minutes. </p>
          </div>
        </div>
      </div>
          

      
      
      <!-- About me-->
      <br />
      <br />
      <br />
      <section class="jumbotron text-start">
        <div class="container text-center col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="jumbotron-heading">About Me</h1>
              <p class="lead text-muted text-start">Currently, I am contracting for Startup's & Fintech companies as a 0-1 Product Manager. As well, I have built my own Product <a href="savrday.com">Savrday.com</a>, which helps people compare financial products and maximise their savings within 60 seconds. 
                <br />
                <br />
                Prior to this I was a Product Manager at Moneybox. Taking my passion for personal finance and interest in fintech to create seamless experiences for Moneybox's 1m+ customers. Focusing on developing new customer propositions, payments and open banking to create better products for our customers.
                <br />
                <br />
                Outside of work I spend most of my time in the gym, running and spending time with family.
                </p>
            </div>

            <div class="col-lg-6">
              <img src="{% static 'wapping.jpg' %}" alt="Bayley Harrod photo" class="img-fluid rounded float-start">
            </div>
          </div>
         
      </section>
      <br />
      <br />
      <br />

          <!-- removed until blogs fixed 
            {% for job in jobs.all %} 
           <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ job.image.url }}" />
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div> 
            {% endfor %}
            -->

            <hr>
            <!-- Work with me -->
            <div class="container col-lg-10" id="work_with_me">
              <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Work with me</h1>
                <p class="fs-5 text-body-secondary">Do you need help with you Product initiative? Get in touch. </p>
              </div>
              <!--Work with me button-->
              <div class='d-grid col-lg-4 mx-auto'>
                <a href="mailto:bayleyhbusiness@hotmail.com?subject=BayleyHarrod.com Contact" class=" btn btn-dark fs-4">Contact</a>
              </div>

            </header>
          
            <!-- Pricing
            <main>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                      <h4 class="my-0 fw-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                    </div>
                  </div>
                </div>
              </div>
          

            </div>

    </main>
    -->


    <br />

    <footer class="text-muted">
      <div class="container text-center">
        <p>© Bayley Harrod {% now "Y"%}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>  

 
</body>
</html>
